ASR_SERVICE_HOST=0.0.0.0
ASR_SERVICE_PORT=8032
ASR_MODEL_PATH=/app/model/Belle-faster-whisper-large-v3-zh-punct
ASR_MODEL_SIZE=Belle-faster-whisper-large-v3-zh-punct
ASR_DEVICE=cpu
ASR_COMPUTE_TYPE=int8
